* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

header{
	background: no-repeat center center;
	background-color: gray;
	background-attachment: scroll;
	background-size: cover;
	background-image: url(../imgs/community-bg.jpg);
}

nav {
	display: flex;
	color: #ffffff;
	justify-content: space-between;
	align-items: center;
}

nav h1 {
	margin: 20px;
}

nav ul {
	list-style: none;
	margin: 20px;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

.search-container {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-box {
	width: 300px;
	height: 40px;
	border: none;
	padding: 10px;
}

.search-button {
	width: 100px;
	height: 40px;
	border: none;
	background-color: blue;
	color: white;
}

.container {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.article-info{
	width: 55%;
	font-size: large;
}

.article-info a {
	color: #337ab7
}
.article-info a:hover,.article-info a:focus {
	color: #0085a1
}

.article-info h1,.article-info h2,.article-info h3,.article-info h4,.article-info h5,.article-info h6 {
	line-height: 2;
	margin-top: 10px;
}

.article-info ul,.article-info ol {
	margin-bottom: 40px;
	padding-left:20px;
}

.article-info hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border: 0;
	border-top: 1px solid #eee;
}


.user-info img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

